/*///////////////
/// MAIN
*/ //////////////

@font-face {
	font-family: SuisseIntl;
	src: url("../assets/fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
	font-family: SuisseIntl;
	font-weight: 500;
	src: url("../assets/fonts/SuisseIntl-Medium.otf") format("opentype");
}

@font-face {
	font-family: SuisseIntl;
	font-weight: bold;
	src: url("../assets/fonts/SuisseIntl-Bold.otf") format("opentype");
}

@import "mixins/active-states.scss";
@import "mixins/media-queries.scss";
@import "mixins/variables.scss";

@import "reset/box-sizing.scss";
@import "reset/normalize.scss";

@import "vars.scss";

@import "base/root.scss";
@import "base/anchor.scss";
@import "base/article.scss";
@import "base/blockquote.scss";
@import "base/body.scss";
@import "base/button.scss";
@import "base/code.scss";
@import "base/figure.scss";
@import "base/form.scss";
@import "base/headings.scss";
@import "base/hr.scss";
@import "base/html.scss";
@import "base/image.scss";
@import "base/list.scss";
@import "base/nav.scss";
@import "base/paragraph.scss";
@import "base/table.scss";
@import "base/video.scss";
@import "base/wrapper.scss";

@import "trumps/hide.scss";
@import "trumps/text.scss";
