/*///////////////
/// SIZE
*/ //////////////

.object-fit {
	&--cover {
		object-fit: cover;
	}
}

.width {
	&--full {
		width: 100%;
	}
	&--small {
		max-width: 100px;
	}
	&--content {
		width: 100%;
		max-width: $width-content;
	}
	&--optimal {
		max-width: 65ch;
	}
	&--half {
		@include bp-min-width($bp-mobile-large) {
			width: 50%;
		}
	}
}
